:root {
    /*+---------------+*/
    /* Category: Color */
    /*+---------------+*/

    --neutral-text-primary: #212529;
    --neutral-text-secondary: #495057;
    --neutral-text-disabled: #ADB5BD;
    --neutral-border: #DEE2E6;
    --neutral-divider: #E9ECEF;

    --background-primary: #FFFFFF;
    --background-secondary: #F8F9FA;
    --background-tertiary: #E9ECEF;
    --background-overlay: rgba(0, 0, 0, 0.08);

    --state-success: #198754;
    --state-danger: #DC3545;
    --state-warning: #FFC107;
    --state-info: #0DCAF0;

    /*+---------------+*/
    /* Category: Font */
    /*+---------------+*/

    --font-family: 'Poppins', sans-serif;

    /*---------*/
    /* Heading */
    /*---------*/

    --h1-size: 48px;
    --h1-weight: 700;
    --h1-line: 56px;
    --h1-spacing: 0px;

    --h2-size: 36px;
    --h2-weight: 700;
    --h2-line: 44px;
    --h2-spacing: 0;

    --h3-size: 28px;
    --h3-weight: 600;
    --h3-line: 36px;
    --h3-spacing: 0;

    --h4-size: 24px;
    --h4-weight: 600;
    --h4-line: 32px;
    --h4-spacing: 0;

    --h5-size: 20px;
    --h5-weight: 500;
    --h5-line: 28px;
    --h5-spacing: 0;

    --h6-size: 18px;
    --h6-weight: 500;
    --h6-line: 24px;
    --h6-spacing: 0;

    /*--------*/
    /*  Body  */
    /*--------*/

    --body-normal-size: 16px;
    --body-normal-weight: 400;
    --body-normal-line: 24px;

    --body-small-size: 14px;
    --body-small-weight: 400;
    --body-small-line: 20px;

    --body-tiny-size: 12px;
    --body-tiny-weight: 400;
    --body-tiny-line: 16px;

    /*--------*/
    /* Button */
    /*--------*/

    --btn-large-size: 16px;
    --btn-large-weight: 600;
    --btn-large-line: 20px;
    --btn-large-spacing: 0.5px;

    --btn-small-size: 14px;
    --btn-small-weight: 600;
    --btn-small-line: 18px;
    --btn-small-spacing: 0.5px;

    /*---------*/
    /* Caption */
    /*---------*/

    --caption-size: 12px;
    --caption-weight: 500;
    --caption-line: 16px;
    --caption-spacing: 0.25px;

    /*----------*/
    /* Overline */
    /*----------*/

    --overline-size: 10px;
    --overline-weight: 500;
    --overline-line: 14px;
    --overline-spacing: 1px;
}

.dark-mode {
    --neutral-text-primary: #EDEDED;
    --neutral-text-secondary: #CED4DA;
    --neutral-text-disabled: #6C757D;
    --neutral-border: #495057;
    --neutral-divider: #343A40;

    --background-primary: #121212;
    --background-secondary: #1E1E2F;
    --background-tertiary: #212531;
    --background-overlay: rgba(255, 255, 255, 0.08);

    --state-success: #39FF14;
    --state-danger: #FF4F6E;
    --state-warning: #FFD93D;
    --state-info: #00FFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    font-size: var(--body-normal-size);
    line-height: var(--body-normal-line);
    color: var(--neutral-text-primary);
    background-color: var(--background-primary);
}

.theme-toggle {
}
